
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


.row{
  margin: 10px 0;
  input[type="text"],
  select,
  textarea{
    width: 100%;
    box-shadow: 0 0 5px #bbb;
    -o-box-shadow: 0 0 5px #bbb;
    -moz-box-shadow: 0 0 5px #bbb;
    -webkit-box-shadow: 0 0 5px #bbb;
    border-radius: 5px;
  } 
  select{
    padding: 10px;
    background-color: #f2f2f2;
    border-color: #aaa;
  }
  input[type="submit"]{
    margin-top: 30px;
  }
}

.list_row{
  background-color: grayscale($color: #b1adad54);
  display: flex;
  margin: 10px 0px;
  >div{
    &:first-child{
      flex: 10;
      padding: 10px;
    }
    &.details
    {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: rgba(0,0,0,0.2);
      padding: 10px;
      &:hover{
        background-color: rgba(0,0,0,0.3);
      }
      a{
        text-decoration: none;
        line-height: initial;
        color: darkslategray;
        span{
          margin-right: 8px;
        }
      }
    }
    &.nvote,
    &.vote{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover{
        background-color: rgba(0,0,0,0.25);
      }
      span{
        width: 25px;
        height: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.votespan{
          display: block;
        }
        &.nagativevote{
          display: block;
          transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
        }
        &.vote_count{
          width: 15px;
        }
      }
    }
  }
}