
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


.row{
  display: flex;
  margin: 10px 0;
  input[type="text"],
  select,
  textarea{
    width: 100%;
    box-shadow: 0 0 5px #bbb;
    -o-box-shadow: 0 0 5px #bbb;
    -moz-box-shadow: 0 0 5px #bbb;
    -webkit-box-shadow: 0 0 5px #bbb;
    border-radius: 5px;
  } 
  select{
    padding: 10px;
    background-color: #f2f2f2;
    border-color: #aaa;
  }
  input[type="submit"]{
    margin-top: 30px;
  }
}